In [1]:
import pandas as pd

In [2]:
content = pd.read_csv('Content_cleaned.csv')    
reactions = pd.read_csv('Reactions_cleaned.csv')
reaction_types = pd.read_csv('ReactionTypes_cleaned.csv')

In [3]:
print(content.shape)
content.head()

(801, 4)

,Unnamed: 0,Content ID,Content Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food

In [4]:
print(reactions.shape)
reactions.head()

(22534, 4)

,Unnamed: 0,Content ID,Reaction Type,Datetime
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 9:43:50
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 5:13:58
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58

In [5]:
print(reaction_types.shape)
reaction_types.head()

(16, 4)

   Unnamed: 0 Reaction Type Sentiment  Score
0           0         heart  positive     60
1           1          want  positive     70
2           2       disgust  negative      0
3           3          hate  negative      5
4           4    interested  positive     30

In [6]:
# left outer join on 'reactions' with 'reaction_types' on column ['Reaction Type']
merged_results = pd.merge(reactions, reaction_types, on='Reaction Type', how='left')
merged_results=merged_results.drop(columns=["Unnamed: 0_y"])

print(merged_results.shape)
merged_results.head()

(22534, 6)

,Unnamed: 0_x,Content ID,Reaction Type,Datetime,Sentiment,Score
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 9:43:50,negative,0
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,negative,10
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 5:13:58,negative,15
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,negative,0
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,positive,30

In [7]:
# left outer join on 'merged_results' with 'content' on 'Content ID'

merged_results = pd.merge(merged_results, content, on='Content ID', how='left')
merged_results=merged_results.drop(columns=["Unnamed: 0"])
merged_results = merged_results.rename(columns={"Unnamed: 0_x": "Index"})

print(merged_results.shape)
merged_results.head()

(22534, 8)

,Index,Content ID,Reaction Type,Datetime,Sentiment,Score,Content Type,Category
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 9:43:50,negative,0,photo,Studying
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,negative,10,photo,Studying
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 5:13:58,negative,15,photo,Studying
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,negative,0,photo,Studying
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,positive,30,photo,Studying

In [9]:
import os
print(os.getcwd())

/Users/aleksandrageorgievska/Github/Accenture-SocialBuzz-MockJobProject/ Datasets

In [10]:
merged_results.to_csv("/Users/aleksandrageorgievska/Github/Accenture-SocialBuzz-MockJobProject/merged_cleaned_datasets.csv")